@model Sagu.MVC.Models.AreasViewModel

@{
    ViewBag.Title = "Areas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Order
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Areas)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img src="@SaguClient.GetImage(item.Image)" alt="@item.Image.FileName" class="img img-thumbnail" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "View", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
